@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family: 'bitter';
    src: url('../font/fontsquirrel/bitterpro-light-webfont.eot');
    src: url('../font/fontsquirrel/bitterpro-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/fontsquirrel/bitterpro-light-webfont.woff2') format('woff2'),
        url('../font/fontsquirrel/bitterpro-light-webfont.woff') format('woff'),
        url('../font/fontsquirrel/bitterpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Volja';
    src: url('../font/volja/Volja-Regular.eot');
    src: url('../font/volja/Volja-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/volja/Volja-Regular.woff2') format('woff2'),
        url('../font/volja/Volja-Regular.woff') format('woff'),
        url('../font/volja/Volja-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
#body {
    background: rgb(247, 237, 239);
    scroll-behavior: smooth;
}

.main {
    width: 1200px;
    margin: 0 auto;
    background: rgb(241, 231, 231);
   
}

#mainTitle {
    padding: 10px 0;
}

.content {
    width: 1000px;
    margin: 0 auto 10px;
    border: 10px violet dashed;
}

h1{
    font-size: 35px;
}

h1,
h2,
.imagescenter,
.linkphoto {
    text-align: center;
}

h3 {
    font-style: italic;
    font-weight: 600;
}

#mainTitle,
h2 {
    font-weight: 600;
    color: rgb(69, 69, 165);
}

h2{
font-size: 25px;
padding-top: 15px;
}

.introduction,
.linkphoto {
    font-style: oblique;
    line-height: 1.5;
    font-weight: 600;
    padding: 20px;
}

.description,
p {
    padding: 10px 20px;
}

.material {
    padding: 20px;
}

.linkmain {
    text-align: right;
}

.t_c_one {
    
   background: rgb(157, 165, 189);
}
.in_t_one {
    width: 400px;
    display: table-cell;
}

.t_c_two,
.t_c_four {
    background: rgb(92, 159, 131);
}

.t_c_two_left,
.t_c_four_left {
    width: 800px;
    display: table-cell;
   
}

.t_c_two_right,
.t_c_four_right {
    width: 400px;
    display: table-cell;
}


.t_c_three {
    
    background: rgb(94, 92, 138);
}
.t_c_three_left,
.t_c_three_right,
.t_c_three_left_bottom_l,
.t_c_four_left_bottom_l
 {
    width: 50%;
    display: table-cell;
}

.block_one {
    
    background: yellow;
    font-size: 0;
}

.in_b_one {
    width: 400px;
    display: inline-block;
    font-size: 25px;
    vertical-align: bottom;
    
}

.block_two,
.block_four {
    background: rgba(135, 104, 173, 0.709);
    font-size: 0;
}

.block_two_left,
.block_four_left {
    width: 800px;
    display: inline-block;
    font-size: 25px;
    vertical-align: bottom;
}

.block_two_right,
.block_four_right {
    width: 400px;
    display: inline-block;
    font-size: 20px;
    vertical-align: bottom;
}

.block_three,
.block_four_left_bottom {
    background: rgba(133, 217, 231, 0.709);
    font-size: 0;
}

.block_three_part,
.block_three_left_bottom_l,
.block_four_left_bottom_l {
    width: 50%;
    display: inline-block;
    font-size: 25px;
    vertical-align: bottom;
}

.block_three_left_bottom {
    background: rgba(79, 109, 115, 0.709);
    font-size: 0;
}

.float{
    float: left;
        outline: 2px solid red;
}
.in_c{
    width: 400px;
    font-size: 25px;
}

.clr{
    clear: left;
}

.in_c_half{
    width: 50%;
    font-size: 20px;

}
.outline{
    outline: 2px solid red;
}
.in_c_eight{
    width: 800px;
    font-size: 20px;
}
.in_c_three {
    width: 400px;
    font-size: 20px;
}
.clear_fix:after{
    content: "";
    clear: both;
    display: block;
}

.conteiner{
    display: grid;
    grid-template-areas: 
    "A A B B C C"
    "D D D D E E"
    "F F F F G G"
    "F F F F H H"
    "I I I J J J"
    "K Q Q J J J"
    "K Q Q J J J"
    "L L L L M M"
    "N N O O M M"
    "N N P P M M"
    "S S S S R R";
}

.box_A{
    grid-area: A;
}

.box_B{
    grid-area: B;
}
.box_C{
    grid-area: C;
}
.box_D{
    grid-area: D;
}
.box_E {
    grid-area: E;
}
.box_F{
    grid-area: F;
}
.box_G {
    grid-area: G;
}
.box_H {
    grid-area: H;
}
.box_I {
    grid-area: I;
}
.box_J {
    grid-area: J;
}
.box_K {
    grid-area: K;
}
.box_Q {
    grid-area: Q;
}
.box_L {
    grid-area: L;
}
.box_M {
    grid-area: M;
}
.box_N {
    grid-area: N;
}
.box_O {
    grid-area: O;
}
.box_P {
    grid-area: P;
}
.box_R {
    grid-area: R;
    padding: 10px;
}

.conteiner_1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.conteiner_2{
    display: grid;
    grid-template-columns: 800px 400px;
}

.conteiner_3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.conteiner_4{
    display: grid;
    grid-template-columns: 800px 400px;

}

.flexbox{
    display: flex;
}
.in_fb1{
    flex: 0 1 400px;
}
.in_fb2_left{
    flex: 0 1 800px;
}
.in_fb3{
   flex: 0 1 50%;
}

.father_block {
    text-align: center;
    height: 400px;
    display: block;
}
.img_block{
    display: inline-block;
    position: relative;
    height: 400px;
}

.name_img {
    max-width: 300px;
    width: 100%;
    height: 40px;
    position: relative;
    background: pink;
    margin-top: -20px;
    bottom: 50%;
    font-size: 30px;
}

.photo{
    position: relative;
    z-index: 10;
}
    
.img_block:hover .name_img{
    position: absolute;
    z-index: 20;
}

.fixed{
    background: rgb(203, 194, 205);
    position: fixed;
    max-width: 300px;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -64px;
    outline: 2px solid rgb(166, 142, 191);
}
.block{
    outline: 2px solid rgb(166, 142, 191);;
}
  
.contact {
    font-size: 0;
    text-align: left;

}
.contact li{
    display: inline-block;
    font-size: 25px;
    margin-left: 10px;
}
.contact li a{
    width: 50px;
    height: 50px;
    background: url('../images/css_sprites.png');
    display: block;
}
.contact li a{
background-position: -90px -90px;
}
.contact li+li a{
    background-position: -10px -170px;}

.contact li+li+li a{
    background-position: -170px -10px;
}


.mainmenu a,
.home_a,
.block_a,
.photo_a,
.float_a,
.grid_a{
    padding: 10px 20px 5px 30px;
    position: relative;
}

.home_a:before,
.block_a:before,
.photo_a:before,
.float_a:before,
.grid_a:before{
    content: "";
    width: 30px;
    height: 30px;
    background: url(../images/css_sprites.png);
    position: absolute; 
}
.home_a:before{
    background-position: -80px -170px;
    left: 0;
    top: 0;
}

.block_a:before{
    background-position: -180px -170px;
    right: 0;
    top: 0;
}
.photo_a:before{
    background-position: -240px -60px;
    left: 0;
    top: 0;
}
.float_a:before{
    background-position: -240px -10px;
    left: 0;
    top: 0;
}
.grid_a:before{
    background-position: -240px -110px;
    right: 0;
    top: 0;
}
.block_h:hover .block_a:before{
    background-position: -240px -10px;
}
.float_h:hover .float_a:before{
    background-position: -240px -110px;
}
.grid_h:hover .grid_a:before{
    background-position: -240px -10px;
}

/*менюшка*/
.mainmenu {
    text-align: center;
    font-size: 0;
    position: relative;
    z-index: 25;
    height: 50px;
}

.mainmenu li {
    font-size: 20px;
    text-align: center;
    background: rgb(225, 195, 225);
    position: relative;
}

.mainmenu>li {
    display: inline-block;
}

.in_block_h {
    margin: 0px;
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    overflow: hidden;
    transition: all 2s ease;
}

.in_block_h:hover {
    overflow: visible;
}

.block_h:hover .in_block_h {
    height: 200px;
    padding: 10px 0;
    transition: padding 2s ease;
    transition: height 2s ease;
}

.in_float_h {
    position: absolute;
    right: 100%;
    bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 2s ease;
}

.float_h:hover .in_float_h {
    visibility: visible;
    height: calc(200% + 2px);
    transition: height 2s steps(5, end);
    padding: 0 10px;
    transition: padding 2s steps(5, end);
}

.mainmenu li+li {
    border-left: 2px solid rgb(185, 159, 185);
}

.mainmenu ul li {
    border-left: 0;
    border-bottom: 2px solid rgb(185, 159, 185);
}

.mainmenu li a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 600;
    min-width: 100px;
    
}

.mainmenu li:hover {
    background: rgb(182, 124, 124);
}

#menu_grid {
    position: absolute;
    left: 100%;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: all 2s linear;
}

.grid_h:hover #menu_grid {
    visibility: visible;
    height: calc(200% + 2px);
    transition: height 2s ease-in;
    padding: 0 10px;
    transition: padding 2s ease-in;
}

/*hover me*/
.fixed2 {
    position: fixed;
    top: 50%;
    right: -220px;
    width: 200px;
   
    transform: translateY(-50%);
    padding: 10px;
}
.fixed2:hover{
    right: 0;
}
.pulse {
    width: 200px;
    height: 30px;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: rotate(-90deg);
    font-size: 25px;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {

        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.contact_r {
    width: 120px;
    overflow: hidden;
    transform: rotate(45deg);
    margin: auto;
    
}

.contact_r li {
    border: 3px solid #485E88;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}

.contact_r li>a {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    }


  
.fb:before, .instagram::before, 
.insta2::before,
.fb2::before {
    content: "";
    width: 50px;
    height: 50px;
    background: url(../images/css_sprites.png);
    position: absolute;}
    
.contact_r a::before {
    transform: rotate(-45deg);
}

.fb_box a:before {

    background-position: -10px -10px;
}
.instagram::before{
   
    background-position: -170px -80px;
}
.insta2::before{
    background-position: -170px -10px;
}
.fb2::before{
    background-position: -10px -90px;
    width: 60px;
    height: 60px;
}



/*рисунки*/
.pictures {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    background: linear-gradient(to bottom, rgb(201, 197, 197) 20%, rgb(128, 128, 174))
}

.vint {
    margin: 0 0 150px 350px;
    height: 50px;
    width: 350px;
    background: linear-gradient(154deg, grey 45%, rgb(51, 48, 48) 45%, rgb(51, 48, 48) 55%, grey 55%, grey 65%,
            rgb(51, 48, 48) 65%, rgb(51, 48, 48) 75%, grey 75%, grey 85%, rgb(51, 48, 48) 85%, rgb(51, 48, 48) 95%, grey 95%);
    position: relative;
    transform: translateX(35px);
}

.vint::after {
    content: '';
    position: absolute;
    width: 65px;
    height: 100px;
    background-color: grey;
    bottom: 60%;
    right: 95%;
    border-top-left-radius: 50%;
}

.vint::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 100px;
    background-color: grey;
    top: 60%;
    right: 95%;
    border-bottom-left-radius: 50%;
}

.gaika {
    margin: 0 0 150px 350px;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.gaika::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent 25%, grey 25%);
    transform: rotate(45deg);
}

.key_big {
    transform: rotate(30deg);
    font-size: 0;
    padding-top: 150px;
    margin: 0 0 150px 350px;

}

.key_big>div {
    display: inline-block;
    font-size: 20px;
}

.key {
    width: 300px;
    height: 50px;
    position: relative;
    background-image: radial-gradient(circle at 90% 50%, transparent 10px, grey 10px);
    border-radius: 0 30% 30% 0;
}

.key_head {
    height: 0;
    width: 20px;
    border-left: 15px solid transparent;
    border-top: 25px solid grey;
    border-bottom: 25px solid grey;
    position: relative;
}


.key_head::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 100px;
    top: -65px;
    left: -80px;
    border-radius: 40% 40% 0 0;
    background: grey;
}

.key_head::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 100px;
    bottom: -65px;
    left: -80px;
    border-radius: 0 0 40% 40%;
    background: grey;

}

.board {
    width: 900px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(111, 160, 221) 40%, rgb(64, 54, 198))
}

.deck_absolute {

    position: absolute;
    left: 30%;
    bottom: 20%;
}

.deck {
    position: relative;
    width: 400px;
    height: 100px;
    background: green;
    

}

.deck::before {
    content: "";
    position: absolute;
    border-top: 100px solid transparent;
    border-right: 100px solid green;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
    right: 100%;
    bottom: 0;


}

.deck::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 100px;
    background: green;
    left: 100%;
    bottom: 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.mast {
    content: "";
    position: absolute;
    width: 350px;
    height: 5px;
    background: black;
    transform: rotate(-270deg);
    top: -175%;
    left: 5%;
}

.sail_left {
    content: "";
    position: absolute;
    width: 250px;
    height: 350px;
    background: transparent;
    border-left: 100px solid yellow;
    border-radius: 50%;
    top: -350%;
    left: 5%;
}

.sail_right {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: radial-gradient(circle at 10% 90%, rgba(255, 255, 255, 0) 70%, rgba(255, 0, 166, 0.897) 65%);
    transform: rotate(45deg);
    bottom: 145%;
    left: 22%;
}

.flag {
    content: "";
    position: absolute;
    height: 0;
    width: 20px;
    border-right: 15px solid transparent;
    border-top: 25px solid grey;
    border-bottom: 25px solid grey;
    top: -350%;
    left: 49%;
}

/*формы*/
.main_form{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    background: #dfe5c2;
    height: 500px;
}
.placeholder {
    display: block;
    position: relative;
    margin-left: 20px;
}

.placeholder input {
    display: block;
    width: 200px;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.placeholder-text {
    display: none;
    line-height: 37px;
    position: absolute;
    bottom: 0;
}

.placeholder input:invalid+.placeholder-text {
    display: block;
}
.placeholder-text span{
    color: red;
    margin-left: 100px;
}
.main_form div{

    margin-left: 20px;
}
.fruts,
.number{
    margin-top: 50px;
    position: relative;
}
select{
    width: 150px;
    height: 30px;
    background: transparent;
    z-index: 10;
    position: relative;
    /*в гитхабе предлагают*/
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-left: 5px;
    border-radius: 5px;
}
select::-ms-expand {
    display: none;
}
.fruts::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    border-top: 5px solid red;
    border-radius: 50%;
    background: yellow;
    left: 127px;
    top: 5px;
    z-index: 5;
}
.number input{
    width: 200px;
    height: 40px;
    background: transparent;
    z-index: 10;
    font-size: 35px;
    position: relative;
    padding-left: 5px;
    border-radius: 5px;
    }

.number::before{
    content: "";
    position: absolute;
    cursor: pointer;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid yellow;
    border-top: 20px solid green;
    z-index: 5;
    left: 169px;
    top: 3px;
}
.number::after {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 211px;
    height: 46px;
    background: blanchedalmond;
    left: -1px;
    border-radius: 5px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 50px;
    margin-left: 70px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(234, 190, 190);
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}
label{
    cursor: pointer;
}

.round {
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}
.text{
    position: absolute;
    left: -100%;
    top: 25%;
}

.home_a,
.photo_a,
.block_a{
    font-family: 'Lobster', cursive;
}

.in_block_font,
.float_a,
.grid_a{
    font-family: 'bitter';
}
.in_float_h,
.grid_h ul{
    font-family: 'Volja';
}
